PORT=

#DATABASE CONNECTION : sqlite/postgres
DB_DIALECT=        

#SQLITE CONNECTION
DB_NAME_SQLITE=

#POSTGRES CONNETION
DB_PORT_POSTGRES=
DB_USERNAME_POSTGRES=
DB_PASSWORD_POSTGRES=
DB_NAME_POSTGRES=
DB_HOST_POSTGRES=
DB_DIALECT_POSTGRES=


#JWT SECRET
JWT_ACCESS_TOKEN_SECRET=
JWT_REFRESH_TOKEN_SECRET=


#TELEGRAM TOKEN
TELEGRAM_BOT_TOKEN =
TELEGRAM_CHAT_ID =