PORT=3000

#DATABASE CONNECTION : sqlite/postgres
DB_DIALECT=postgres        

#SQLITE CONNECTION
DB_NAME_SQLITE=/app/database/edukita_db.sqlite

#POSTGRES CONNETION
DB_PORT_POSTGRES=5432
DB_USERNAME_POSTGRES=user
DB_PASSWORD_POSTGRES=password
DB_NAME_POSTGRES=edukita_db
DB_HOST_POSTGRES=database
DB_DIALECT_POSTGRES=postgres


#JWT SECRET
JWT_ACCESS_TOKEN_SECRET=12345
JWT_REFRESH_TOKEN_SECRET=67890


#TELEGRAM TOKEN
TELEGRAM_BOT_TOKEN =7232970614:AAExvhYZKyW85cFuE1zLqy4lW5sDCdQR4a8
TELEGRAM_CHAT_ID =-4712594278